.DS_Store

# Kaggle creds
Data/kaggle.json

# Data: ignore contents, keep folder markers
Data/*
!Data/.gitkeep
!Data/README.md

# Local venv
vitfinalproject/*

# Weights: ignore contents, keep folder marker
notebooks/weights/*
!notebooks/weights/.gitkeep
