.DS_Store

# Kaggle creds
Data/kaggle.json

# Datasets: ignore contents, keep folder with markers
Data/*
!Data/.gitkeep
!Data/README.md

# venv (your local env)
vitfinalproject/*

# Weights: ignore contents, keep folder with marker
notebooks/weights/*
!notebooks/weights/.gitkeep